html {
  font-family: "Josefin Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 200;
  letter-spacing: 0.1em;
  color: #54381D;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: 10rem;
}

ul {
  list-style-type: none;
}
li{
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-family: initial;
}

.err {
  text-align: center;
  margin: 10px 0;
  color: #d82626;
}

/* apply style */

body {
  background-color: #FFF5EB;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

.ttl__area {
  font-family: 'Leckerli One', cursive;
  margin: 3rem auto 1rem;
  font-size: 60px;
  text-align: center;
}

.letter {
  text-align: center;
  margin: 2rem;
}

@media screen and (min-width: 768px) {

  html {
    font-size: 16px;
  }

  .wrapper {
    max-width: 70%;
  }

  .ttl__area {
    margin: 5rem auto;
    font-size: 100px;
  }

  .letter {
    margin-bottom: 5rem;
    font-size: 18px;
  }
}



/* ヘッダー */

.header {
  position: relative;
  background: #B2B8A3;
  height: 5rem;
}

.header::before {
  position: absolute;
  content: '';
  left: 50%;
  z-index: -2147483647;
  width: 25%;
  height: 100%;
  border-radius: 50%;
  background: inherit;
  transform: translateX(-50%) translateY(42%);
  bottom: 0px;
}

.header__main {
  position: absolute;
  width: 100%;
}

.header__logo {
  text-align: center;
  width: 100%;
  margin-top: -3rem;
  z-index: 2147483647;
}

.header__logo-img {
  width: 15%;
}

.header__inner {
  padding: 1rem 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__inner nav ul {
  margin-bottom: 0;
  display: flex;
  padding: 20px 0;
}

.header__inner nav ul li {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__inner nav ul li + li {
  margin-left: 20px;
}

.header__inner .prof-show {
  display: flex;
  align-items: center;
}

.header__inner .prof-show .name {
  font-weight: bold;
  color:#54381D;
}

.header__inner .prof-show .image img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.header__inner .header-r {
  display: flex;
}

.user-btn {
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
}

.user-btn input[type=submit] {
  color: #54381D;
  background: none;
  border: none;
}

.user-btn input[type=submit]:hover {
  color: #0056b3;
  text-decoration: underline;
}

.name {
  font-family: initial;
}

@media screen and (min-width: 768px) {

  .header {
    height: 10rem;
  }

  .header::before {
    width: 15%;
    border-radius: 50%;
  }

  .header__logo {
    margin-top: -6rem;
  }

  .header__logo-img {
    width: 10%;
  }

  .header__inner {
    padding: 3rem 10rem;
  }

  .user-btn {
    margin-left: 1.25rem;
  }

}

/* ホーム画面 */



.search__area {
  text-align: center;
}

.search__area .title {
  border-radius: 5px;
  border: solid 1px #999999;
  box-sizing: border-box;
}

.search__area .title select {
  border-radius: 5px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  background: #fff
}

.search__area .address {
  border-radius: 5px;
  border: solid 1px #999999;
  box-sizing: border-box;
}

.search__area .address select {
  border-radius: 5px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  background: #fff
}

.thread__block {
  margin: 3rem auto;
  width: 100%;
  height: 50rem;
  padding: 5rem 2rem;
  background-image: url(../asset/img/kanban.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.thread__item {
  position: relative;
  background-color: #fff;
}

.thread__item::before {
  display: block;
  position: absolute;
  z-index: 1;
  content: "";
  width: 90px;
  height: 30px;
  left: 30%;
  top: -16px;
  background-color: rgba(252, 248, 248, 0.5);/*テープ色*/
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  transform: rotate( -3deg ); /*テープ角度*/
 }

.thread__imgarea {
  position: relative;
}

.thread__imgarea::before{
  content: "";
  display: block;
  padding-top: calc((300 / 500) * 100%);
}

.thread__imgarea img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.thread__ttlarea {
  font-size: 20px;
  text-align: center;
  padding: 8px;
}

.operation {
  padding: 1rem 1rem 0;
}

.thread__text p{
  margin-bottom: initial;
}
.thread__text p:not(:first-child){
  margin-top: 1rem;
}

.comment__btn {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.comment__btn img {
  max-width: 40%;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
}

.comment__btn img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.thread__datearea {
  font-size: 12px;
  text-align: right;
  padding: 1rem;
}

.form-group input[type="submit"] {
  margin-top: 30px;
  padding: 10px;
}



@media screen and (min-width: 768px) {

.search__area .title {
  padding: 0.5rem 1rem;
  font-size: 20px;
}

.search__area .address {
  padding: 0.5rem 1rem;
  font-size: 20px;
}

.thread__block {
  margin: 5rem auto;
  height: 85rem;
  padding: 9rem 8rem;
  background-image: url(../asset/img/kanban.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.thread__item::before {
  display: block;
  position: absolute;
  z-index: 1;
  content: "";
  width: 140px;
  height: 35px;
  left: 35%;
  top: -16px;
  background-color: rgba(252, 248, 248, 0.5);/*テープ色*/
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
  transform: rotate( -3deg ); /*テープ角度*/
 }

.thread__imgarea {
  position: relative;
}

.thread__imgarea::before{
  content: "";
  display: block;
  padding-top: calc((300 / 500) * 100%);
}

.thread__imgarea img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.thread__ttlarea {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.operation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.thread__text p:not(:first-child){
  margin-top: 1rem;
}

.comment__btn {
  max-width: 25%;
  margin-top: initial;
}

.comment__btn img {
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
  max-width: initial;
}

.comment__btn img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.thread__datearea {
  font-size: 15px;
  text-align: right;
  padding: 1rem;
}

.form-group input[type="submit"] {
  margin-top: 30px;
  padding: 10px;
}


}

/* スレッド作成 */

.ttl__new_create {
  margin: 5rem auto;
  width: 70%;
}

.new__thread-block {
  background-image: url(../asset/img/backgland__img.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 10rem 0 1rem 0;
}

.img__block {
  position: relative;
}

.imgarea {
  width: 80%;
  margin: 0 auto;
}

.imgfile {
  position: relative;
}

.imgfile::before{
  content: "";
  display: block;
  padding-top: calc((300 / 500) * 100%);
}

.imgfile img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.file-img {
  position: absolute;
  width: 15%;
  top: 25rem;
  right: 5rem;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
}

.file-img img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

input[type="file"]{
  display: none;
}

.form__block {
  margin: 4rem auto;
  width: 50%;
}
.form-group {
  display: flex;
  margin-top: 1rem;
}

.form-group .btn-primary img{
  width: 35%;
 }

.form-group label {
  width: 30%;
}

.form-group select {
  width: 70%;
  font-size: 20px; color: #77787B;
  border: none;
}

.flatpickr-input {
  width: 70%;
  font-size: 20px;
  border: none;
  color: #77787B;
}

.form-group textarea {
  width: 70%;
  font-family : inherit;
  font-size: 20px;
  border: none;
  line-height: 2;
  color: #77787B;
}

.btn-primary {
  margin: 4rem auto;
  width: 40%;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
}

.btn-primary img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.comment-confirm .guide {
  font-size: 20px;
}

.comment-confirm .content {
  margin: 50px 0;
  font-size: 20px;
  background: #fff;
  padding: 10px;
}

.comment-confirm .form-group input[type="submit"] {
  margin-top: 0;
  margin-left: 10px;
}

.comment-complete {
  font-size: 20px;
}

.comment-complete p {
  margin-bottom: 20px;
}

.user-confirm {
  display: flex;
  justify-content: center;
}

.user-confirm a {
  display: block;
  margin-right: 40px;
}

.user-disp {
  font-size: 16px;
  margin-bottom: 50px;
}

.file-btn {
  width: 180px;
  font-size: 12px;
  font-weight: bold;
}

/* フッター */

.copy {
  text-align: center;
}

/* スレッド詳細 */

.thread .hidden {
  display: none;
}


.display{
  display: none;
}

.noactiv {
  display: none;
}

/* ログイン画面 */

.hukidashi {
  background-image: url(../asset/img/hukidashi.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 60%;
  height: 120px;
  margin: 4rem auto;
}

.hukidashi p {
  text-align: center;
  margin-bottom: 5rem;
  font-size: 18px;
  padding: 8rem 3rem;
}

.container__cat {
  position: relative;
  margin: 4rem auto;
  padding: 3rem 10rem;
  width: 75%; /* ボックス幅 */
  background: #fdf5e6; /* ボックス背景色 */
  border: 5px solid #666666; /* ボックス枠線(太さ・線種・色) */
  border-radius: 50px;
  box-shadow: 1px 1px 3px #acacac; /* ボックス影（不要なら行を削除） */
  z-index: auto;
 }
 .container__cat::before,
 .container__cat::after {
  height: 3.75rem;
  width: 3.75rem;
  position: absolute;
  content:'';
  top: -1.875rem;
  z-index: -10;
 }
 .container__cat::before {
  left: 20%;
  background: #555555; /* 左耳背景色 */
  border: 5px solid #666666; /* 左耳枠線(太さ・線種・色) */
  border-radius: 10px 50px 100px 50px;
  transform: rotate( 45deg );
  box-shadow: 1px -1px 3px #acacac; /* 耳の影（不要なら行を削除） */
 }
 .container__cat::after {
  right: 20%;
  background: #B8824D; /* 右耳背景色 */
  border: 5px solid #666666; /* 右耳枠線(太さ・線種・色) */
  border-radius: 50px 10px 50px 100px;
  transform: rotate( -45deg );
  box-shadow: 1px 1px 3px #acacac; /* 耳の影（不要なら行を削除） */
 }

.form-block {
  margin-bottom: 0.75rem;
  width: 100%;
}

.form-block input {
  background: #fff;
  border: none;
  border-bottom: 2px solid #e9e9e9;
  color: #666;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  height: 50px;
  transition: border-color 0.3s;
  width: 100%;
}

.form-block input:focus {
  border-bottom: 2px solid #c0c0c0;
  outline: none;
}

.button {
  width: 30%;
  margin: 0 auto;
}

.button img{
  width: 100%;
  margin: 2em 0 0;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
}

.button img:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}

.form-footer {
  font-size: 1em;
  padding-top: 2em;
  text-align: center;
}

.form-footer a {
  color: #8c8c8c;
  text-decoration: none;
  transition: border-color 0.3s;
}

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
}

@media screen and (min-width: 768px) {

  .hukidashi {
    background-image: url(../asset/img/hukidashi.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 50%;
    height: 350px;
    margin: 8rem auto;
  }

  .hukidashi p {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 18px;
    padding: 8rem 3rem;
  }

  .container__cat {
    position: relative;
    margin: 4rem auto;
    padding: 3rem 10rem;
    width: 75%; /* ボックス幅 */
    background: #fdf5e6; /* ボックス背景色 */
    border: 5px solid #666666; /* ボックス枠線(太さ・線種・色) */
    border-radius: 50px;
    box-shadow: 1px 1px 3px #acacac; /* ボックス影（不要なら行を削除） */
    z-index: auto;
   }
   .container__cat::before,
   .container__cat::after {
    height: 3.75rem;
    width: 3.75rem;
    position: absolute;
    content:'';
    top: -1.875rem;
    z-index: -10;
   }
   .container__cat::before {
    left: 20%;
    background: #555555; /* 左耳背景色 */
    border: 5px solid #666666; /* 左耳枠線(太さ・線種・色) */
    border-radius: 10px 50px 100px 50px;
    transform: rotate( 45deg );
    box-shadow: 1px -1px 3px #acacac; /* 耳の影（不要なら行を削除） */
   }
   .container__cat::after {
    right: 20%;
    background: #B8824D; /* 右耳背景色 */
    border: 5px solid #666666; /* 右耳枠線(太さ・線種・色) */
    border-radius: 50px 10px 50px 100px;
    transform: rotate( -45deg );
    box-shadow: 1px 1px 3px #acacac; /* 耳の影（不要なら行を削除） */
   }

  .form-block {
    margin-bottom: 0.75rem;
    width: 100%;
  }

  .form-block input {
    background: #fff;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
  }

  .form-block input:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
  }

  .button {
    width: 30%;
    margin: 0 auto;
  }

  .button img{
    width: 100%;
    margin: 2em 0 0;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
  }

  .button img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -ms-filter: "alpha(opacity=70)";
  }

  .form-footer {
    font-size: 1em;
    padding-top: 2em;
    text-align: center;
  }

  .form-footer a {
    color: #8c8c8c;
    text-decoration: none;
    transition: border-color 0.3s;
  }

  .form-footer a:hover {
    border-bottom: 1px dotted #8c8c8c;
  }
}


/* ユーザー登録画面 */

.container__dog {
  position: relative;
  margin: 4rem auto;
  padding: 3rem 10rem;
  width: 75%; /* ボックス幅 */
  background: #fdf5e6; /* ボックス背景色 */
  border: 5px solid #666666; /* ボックス枠線(太さ・線種・色)*/
  border-radius: 50px;
 }
 .container__dog::before,
 .container__dog::after {
  height: 4.5rem;
  width: 2.5rem;
  position: absolute;
  content:'';
  top: -15px;
 }
 .container__dog::before {
  left: -2%;
  background: #C07C3E; /* 左耳背景色 */
  border: 5px solid #666666; /* 左耳枠線(太さ・線種・色) */
  border-radius: 100px 50px;
  transform: rotate( 30deg );
 }
 .container__dog::after {
  right: -2%;
  background: #C07C3E; /* 右耳背景色 */
  border: 5px solid #666; /* 右耳枠線(太さ・線種・色) */
  border-radius: 50px 100px;
  transform: rotate( -30deg );
 }

 /* マイページ */

 /* スレッド詳細 */

.page__ttl {
  margin: 5rem auto;
  width: 70%;
}

.comment__item {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,.22);
  background-image:
  linear-gradient(90deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 50%, #fff 0%, #fff 100%), linear-gradient(180deg, rgba(237, 119, 128, 0) 0%, rgba(237, 119, 128, 0) 95%, #B2B8A3 100%);
  background-size: 8px 100%,100% 2em;
  line-height: 2;
  border: solid 2px #B2B8A3;
  padding: 2em 1em 1.98em 1em;
  margin: 2em 0;
}

.comment__item ::before {
  background-color: rgb(187, 153, 129,0.3); /* マステ部分の色1 */
	background-position: 0 0, 12px 12px;
	background-size: 24px 24px;
	border-left: 2px dotted rgba(255,255,255,0.9);
	border-right: 2px dotted rgba(255,255,255,0.9);
	box-shadow: 0 0 5px rgba(255,255,255,0.5);
	content: 'コメント';
	display: block;
	margin: 0 0 0.5rem 0;
	padding: 5px 20px;
	color: #fff;  /* マステ部分文字色 */
	text-align: center;
	position: absolute;
	top: -10px;
	left: 20px;
	transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-webkit-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
}

.comment__form-group {
  background-image: url(../asset/img/backgland__img.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 3rem auto;
  padding: 5rem;
  text-align: center;
  width: 75%;
}

.comment__form-group textarea {
  font-size: 18px;
  width: 85%;
}

.comment__form-input {
  text-align: center;
}

.comment__form-input input {
  width: 25%;
  filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
}

.comment__form-input input:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
  -ms-filter: "alpha(opacity=70)";
}






